body{
    color : white;
    background-color: black;
}
h1{
    text-align: center;
    font-family:Impact;
    color:rgb(150, 133, 114);


}
.imge{
    text-align: center;
}
p{
    font-size:large;
    text-align: center;
}
h2{
    font-family:Georgia;
    font-size:xx-large;
}
/*links*/
a{
    color:aquamarine;
}
a:hover{
    color: rgb(250, 10, 198);

}

